/* Reset CSS */

html{font:62.5% Arial, Helvetica,sans-serif;}
body{margin:0;font-size:100%;}
* html body{font-size:101%;}
*:first-child+html body{font-size:101%;}

h1,h2,h3,h4,h5,h6,p,pre,blockquote{margin:0;font-size:1em;}
ul,ol,dl,dt,dd{padding:0;margin:0;}
ul,ol{list-style:none;}
address,cite{font-style:normal;}
img{border:none;-ms-interpolation-mode:bicubic;}

article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}

td,th{vertical-align:top;}
caption,th{text-align:left;}

form{margin:0;}
fieldset{margin:0;padding:0;border:none;}
legend{margin:0;padding:0;color:#000;}
input,textarea,select{font:1em Arial,Helvetica,sans-serif;}
textarea{overflow:auto;}
input[type="text"]{margin:0;}

.estirar:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.estirar{display:inline-block;}
/*\*/
.estirar{display:block;}
* html .estirar{height:1px;}
/**/
.izq,.col-i{float:left;display:inline;}
.drcha,.col-d{float:right;display:inline;}
.table{display:table;height:1%;}

body {
    margin:2em 0 3em;
    background:#393939 url(../images/bg.png) repeat-x 0 0;
    color:#eee;
}
a { color:#fff23a; text-decoration:none; }
a:hover { color:#f26e24; text-decoration:underline; }

#head {
    width:770px;
    margin:0 auto 2em;
    padding-left:30px;
}
#head h1 {
    width:499px;
    margin:0 auto;
}
#head h1 a {
    height:112px;
    background:url(../images/logo.png);
    text-indent:-999px;
    overflow:hidden;
    display:block;
}

#main_container {
    width:960px; margin:0 auto;
}
#content {
    width: 690px;
    float:left;
}
#sidebar {
    float:right;
    width:250px;
}

.claim {
    background:#333;
    font-size:1.8em;
    line-height:1.4;
    padding:15px;
    margin-bottom:15px;
}

/* FOrmulario home */


#combat fieldset {
    background:#333;
    padding:2.5em;
    width:42%;
}
#combat #player1 {
    float:left;
}
#combat #player2 {
    float:right;
}
#combat label {
    font-size:1.8em;
    color:#ddd;
    display:block;
    margin-bottom:.5em;
}
#combat fieldset input {
    background:#fff;
    color:#555;
    font-weight:bold;
    font-size:2.4em;
    border:2px solid #666;
    padding:5px;
    width:270px;
}

#combat .submit {
    clear:both;
    text-align:center;
    padding-top:2.5em;
}
#combat .submit input {
    -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.6);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
    font-size:3em;
    color:#fff;
    text-transform:uppercase;
    border:0;
    padding:.3em 1em;
    background:url(../images/bg_button.png) repeat-x 0 center;
    text-shadow:0px 0px 5px #000;
    cursor:pointer;
}
#combat .submit input:hover {
    -moz-box-shadow:0px 0px 12px rgba(255, 255, 255, 1);
    -webkit-box-shadow:0px 0px 12px rgba(255, 255, 255, 1);
    
}

.rankings {
    background:#333;
    padding:15px 15px 5px;
}
.rankings h2 {
    color:#fff;
    font-size:1.1em;
    text-transform:uppercase;
    margin-bottom:.3em;

}
.rankings ol {
    list-style:decimal outside;
    margin:0 0 1em 2em;
}
.rankings li {
    font-size:1.2em;
    line-height:1.5;
    padding-right:3em;
    position:relative;
}
.rankings li span {
    position:absolute;
    right:0;
    top:0;
}

/* Versus */
#versus h2 {
    font-size:4em;
    margin-bottom:.3em;
    font-weight:normal;
    text-align:center;
}

#c1 { float:left; width:49%; }
#c2 { float:right;  width:49%; }

table.datatable {
    width:100%;
    margin-top:1.5em;
}

table.datatable th {
    background:#666;
    color:#fff;
    padding:.6em .6em;
    font-size:1.1em;
    font-weight:bold;
    text-transform:uppercase;
}
table.datatable tbody th {
    background:#444;
}
table.datatable td {
    text-align:center;
    font-size:1.2em;
    padding:.4em .6em;
    border-bottom:1px dotted #444;
}
table.datatable td.even { background:#222; }

#city .cab { padding-top:8px; margin-bottom:10px; }
#city .cab h2 { font-size:4em; color:#fff; float:left; margin-right:.3em; margin-top:-8px; }
#city .cab p { font-size:1.2em; line-height:1.4; }

#city #container { float:left; width:48%; }
#city #table { float:right; width:48%; }


#posiciones h2 {
  font-size: 2em;
  margin: 0 0 .7em 0;
  padding-top: 1em;
}

#posiciones p {
  font-size: 1.5em;
  margin: 0 0 0 1em;
}

#city #table p {
  font-size: 1.4em;
  margin-top: .5em;
}

form#combat.estirar p.ejemplos {
  font-size: 1.3em;
}