<p class="claim" style="width: 100%;"">
  Modal Kombat es una aplicación construida a partir de datos publicados en el <a href="http://epp.eurostat.ec.europa.eu/">portal Eurostat</a>, concretamente de la sección dedicada al proyecto <a href="http://www.urbanaudit.org">Urban Audit</a>. Los datos están un poco desactualizados, pero sirven para sacar conclusiones sobre la forma que tenemos de desplazarnos en las ciudades europeas.
</p>
<p class="claim" style="width: 100%;"">
  Gracias a la gente de <a href="http://www.abredatos.es">Abredatos</a> por darnos una excusa para pasar un fin de semana pensando en <a href="http://en.wikipedia.org/wiki/Open_Data">Open Data</a> :-)
</p>
