<form id="combat" class="estirar">
  <fieldset id="player1">
    <label>Elige una ciudad</label>
    <input type="text" />
  </fieldset>
  
  <fieldset id="player2">
    <label>Elige otra ciudad</label>
    <input type="text" />
  </fieldset>
  <div class="submit">
    <input type="submit" value="fight!">
  </div>
</form>