<h2><%= @city.name %></h2>

<p><strong>Población: </strong> <%= @city.datasets.last.population %></p>

<div id="container">
</div>


<%= render :partial => 'datatable', :locals => { :table_id => 'datatable', :city => @city } %>

<script type="text/javascript">
<%= render :partial => 'pie_chart.js', :locals => { :table_id => 'datatable', :render_to => 'container' } %>
</script>
